#widgets_Estadisticas_Imp_Widget_10_panel{
    min-width: 650px;
}
.jimu-widget-imp-estadisticas .titulo-widget{
    margin-bottom: 1em;
    text-align: center;
}
.jimu-widget-imp-estadisticas .search-options-container{    
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*
.jimu-widget-imp-estadisticas .results-container .selector-types{
    display: flex;
    justify-content: center;
}

.jimu-widget-imp-estadisticas .results-container .selector-types button{
    border: 1px solid #1b1e24;
    color: #1b1e24;
    background: white;
    padding: .5em;
    cursor: pointer;
    margin: .5em;
    display: flex;
    align-items: center;
}*/


.jimu-widget-imp-estadisticas .search-options-container .selector-types{
  display: flex;
  justify-content: center;
}

.jimu-widget-imp-estadisticas .search-options-container .selector-types button{
  border: 1px solid #1b1e24;
  color: #1b1e24;
  background: white;
  padding: .5em;
  cursor: pointer;
  margin: .5em;
  display: flex;
  align-items: center;
}


.jimu-widget-imp-estadisticas .search-options-container .selector-types button:hover,
.jimu-widget-imp-estadisticas .search-options-container .selector-types button.active{
    color: white;
    background: #1b1e24;
}
.jimu-widget-imp-estadisticas .search-options-container .selector-types button span{
    margin-right: .5em;
}
.jimu-widget-imp-estadisticas .jimu-agol-loading.jimu-loading-indicator{
    top: 60px;
}
.jimu-widget-imp-estadisticas label{
    display: block;
}
.jimu-widget-imp-estadisticas label .label-title{
  display: block;
}


.jimu-widget-imp-estadisticas .results-container {
    padding-left: 3em;
    padding-right: 3em;
}
.jimu-widget-imp-estadisticas .results-container li {
    display: flex;
    width: 80%;
}
.jimu-widget-imp-estadisticas .results-container li span:first-child {
    font-weight: bold;
    color: gray;
    width: 130px;
    display: inline-block;
}

.jimu-widget-imp-estadisticas .results-container li span:last-child {
    text-align: right;
    flex-grow: 1;
}

.jimu-widget-imp-estadisticas table {
    border-collapse: collapse;
}

.jimu-widget-imp-estadisticas table th {
    text-align: center;    
    /* background: gray; */
    color: white;
}
.jimu-widget-imp-estadisticas table tr td:first-child{
    width: 60%;
}
.jimu-widget-imp-estadisticas table tr td:last-child{
    text-align: right;
}

.jimu-widget-imp-estadisticas .chart-container {
    height: 400px;
    max-width: 600px;
    margin: auto;
}
.jimu-widget-imp-estadisticas .table-fill .btn-download{
    float: right;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: .5em 1em;
    cursor: pointer;
}
.jimu-widget-imp-estadisticas .table-fill .btn-download:hover{
    color: #1b1e24;
    background-color: white;
}
.jimu-widget-imp-estadisticas .table-fill .btn-download:disabled{
    opacity: .5;
}
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 800px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }
   
  .table-fill th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .table-fill th:first-child {
    border-top-left-radius:3px;
  }
   
  .table-fill th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  .table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  .table-fill tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .table-fill tr:first-child {
    border-top:none;
  }
  
  .table-fill tr:last-child {
    border-bottom:none;
  }
   
  .table-fill tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  .table-fill tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .table-fill tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .table-fill tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .table-fill td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  .table-fill td:last-child {
    border-right: 0px;
  }
  
  .table-fill th.text-left {
    text-align: left;
  }
  
  .table-fill th.text-center {
    text-align: center;
  }
  
  .table-fill th.text-right {
    text-align: right;
  }
  
  .table-fill td.text-left {
    text-align: left;
  }
  
  .table-fill td.text-center {
    text-align: center;
  }
  
  .table-fill td.text-right {
    text-align: right;
  }

  
  .table-fill td.text-center {
    text-align: center;
  }
  
  .table-fill td.text-right {
    text-align: right;
  }
























  .table-history thead,.table-history tbody{display: block;}
  .table-history tbody {
    
    height: 100px;      
    overflow-y: auto;    
    overflow-x: hidden;  
  }
  




  .table-history {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    /*height: 320px;*/
    margin: auto;
    /*max-width: 800px;*/

    padding:5px;
    width: 100%;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }

  
   
  .table-history th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:16px;
    font-weight: 100;
    padding:3px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .table-history th:first-child {
    border-top-left-radius:3px;
  }
   
  .table-history th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    



  .table-history tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  .table-history tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .table-history tr:first-child {
    border-top:none;
  }
  
  .table-history tr:last-child {
    border-bottom:none;
  }
   
  .table-history tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  .table-history tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .table-history tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .table-history tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .table-history td {
    background:#FFFFFF;
    padding:2px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  .table-history td:last-child {
    border-right: 0px;
  }
  
  .table-history th.text-left {
    text-align: left;
  }
  
  .table-history th.text-center {
    text-align: center;
  }
  
  .table-history th.text-right {
    text-align: right;
  }
  
  .table-history td.text-left {
    text-align: left;
  }

/*

  .table-history thead, tbody { display: block; }
*/

